<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/be07557a2e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/styleCart.css">
    <link rel="stylesheet" href="css/style.css">
    <title> Carrinho </title>
</head>
<body>
    <header id="header">
        <a id="logo" href="/"><img src="../imagens/logo.png"></a>
            <nav id="nav">
            <button aria-label="Abrir Menu" id="btn-mobile" aria-haspopup="true" aria-controls="menu" aria-expanded="false">Menu
            </div>
                <span id="hamburger"></span>
            </button>
            <ul id="menu" role="menu">
                <div class="search-bar">
                <li class="search-container">
                    <input type="text" placeholder="Faça sua pesquisa" class="barra-pesquisa">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <div class="hints">
                    </div>
                </li>
                </div>
            <% if(!user) { %>
                <div class="infos">
                <div class="user">
                    <li>
                        <a href="login"> 
                            <i class="fa-solid fa-user"></i>
                            Faça seu login ou cadastro
                        </a>
                    </li>
                </div>
                <div class="fale-conosco">
                    <li>
                        <a href="fale-conosco">
                            <i class="fa-regular fa-message"></i>
                            Fale conosco
                        </a>
                    </li>
                </div>
    
                <div class="cart">
                    <li>
                        <a href="cart">
                            <i class="fa-solid fa-cart-shopping"></i>
                            Carrinho
                        </a>
                    </li>
                </div>
            <% } %>
    
            <% if (user) { %>
    
            <div class="infos">                                      
                <div class="fale-conosco">
                    <li>
                        <a href="fale-conosco">
                            <i class="fa-regular fa-message"></i>
                            Fale conosco
                        </a>
                    </li>
                </div>
    
                <div class="cart">
                    <li>
                        <a href="cart">
                            <i class="fa-solid fa-cart-shopping"></i>
                            Carrinho
                        </a>
                    </li>
                </div>
                <div class="logout">
                    <li>
                        <a>
                            <p>Olá, <%= user.nome %>!</p>
                            <form action="logout" method="POST">
                                <button type="submit"><i class="fa-solid fa-right-from-bracket"></i></button>
                            </form>
                        </a>
                    </li>
                </div>
            </div>  
            <% } %>
                <div class="categorias-mobile">
                    <li class="card-categorias">
                        <div class="sub-menu">
                            <ul>
                                <li> <a href="corte.html"> Ferramentas de Corte </a></li>
                                <li> <a href="ferramentas_medicao"> Ferramentas de Medição </a></li>
                                <li> <a href="precisao.html"> Ferramentas de Precisão </a></li>
                                <li> <a href="impacto.html"> Ferramentas de Impacto </a></li>
                            </ul>
                        </div>
                        
                    </li>
    
                    <li>
                        <a href="ferramentas_eletricas"> Elétrica </a>
                    </li>
    
                    <li>
                    <a href="#"> Ofertas </a>
                    </li>
    
                    <li>
                        <a href="#"> Fixação </a>
                    </li>
    
                    <li>
                        <a href="#"> Jardinagem </a>
                    </li>
                </div>
            </div> 
            </ul>
            </nav>
        </header>
        <nav class="nav-secondary"> 
          <ul>
              <div class="categorias">
                  <li class="card-categorias">
                      <i id ="hamburguer" class="fa-solid fa-bars"></i> 
                      <a href="#">  Categorias </a>
    
                      <div class="sub-menu">
                          <ul>
                              <li> <a href="corte.html"> Ferramentas de Corte </a></li>
                              <li> <a href="ferramentas_medicao"> Ferramentas de Medição </a></li>
                              <li> <a href="precisao.html"> Ferramentas de Precisão </a></li>
                              <li> <a href="impacto.html"> Ferramentas de Impacto </a></li>
                          </ul>
                      </div>
                      
                  </li>
    
                  <li>
                      <a href="ferramentas_eletricas"> Elétrica </a>
                  </li>
    
                  <li>
                  <a href="#"> Ofertas </a>
                  </li>
    
                  <li>
                      <a href="#"> Fixação </a>
                  </li>
    
                  <li>
                      <a href="#"> Jardinagem </a>
                  </li>
              </div>
          </ul>
      </nav>  
            <div class="container-teste">
                <div class="container-frete">
                    <p> Calcule seu frete </p>
                    <div class="box-frete">
                        <input type="text" class="cep" placeholder="CEP">
                        <a href="#"> Não sei meu CEP </a>
                    </div>
                </div>
                <div class="container-total">
                    <p> Subtotal: </p>
                    <p> Frete: </p>
                    <p class="total"> Total: </p>
                </div>
            </div>
        </div>
        <%}%>
        <footer>
            <div class="logo-footer">
                <img src="/imagens/logo_branca.png">
                <p> © 2023 Amber Forte </p>
            </div>
            <div class="endereco-footer">
                <p> Venha nos visitar! </p>
                <p> Rua Joao Joaquim de Melo, 678, Vila Mimosa </p>
                <p class="cel"> (19) 94561-3023</p>
            </div>
            <div class="social-footer">
                <p> Nos siga! </p>
                <div class="instagram-footer">
                    <i class="fa-brands fa-instagram"></i> <p> @bsh_ferramentas</p>      
                </div>
            </div>
        </footer>
        
<script src="../js/script.js"></script>
    </body>
</html>