<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/be07557a2e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./css/styleContato.css">
    <title>Fale Conosco</title>
</head>
<body>
    <div class="main-login">
        <div class="right-login">
            <div class="card-login">
                <h1> Fale Conosco </h1>
                <div class="container-input">
                   <div class="textfield">
                        <label for="nome"> Nome </label>
                        <input type="text" name="nome" placeholder="Insira seu nome" autocomplete="off">
                    </div>
                
                    <div class="textfield">
                        <label for="senha"> E-mail </label>
                        <input type="email" name="email" placeholder="Insira seu email" autocomplete="off">
                    </div>  

                    <div class="textfield">
                        <label for="mensagem"> Mensagem </label>
                        <textarea name="mensagem" cols="30" rows="10"> </textarea>
                    </div>  
                </div>
                
                <div class="container-btn">
                    <input type="submit" class="btn-login" value="Enviar">  
                </div>

                <div class="informations">
                    <a href="index.html"> Voltar para home </a></p>
                </div>

            </div>
        </div>
    </div>
</body>
</html>