@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0; 
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.main-login {
    width: 100vw; 
    height: 100vh;
    background-image: url('../imagens/background-3.svg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login, .right-login {
    width: 30vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login h1 {
    color: #F5F5F5;
    font-size: 80px;
}

.card-login {
    width: 400px;
    height: 630px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding: 30px 35px;
    background-color: #F5F5F5;
    border-radius: 10px;
    box-shadow: 0 10px 40px #00000056;
}

.card-login h1 {
    color: #172A3A;
    font-size: 40px;
    font-weight: 800;
    margin-top: 30px;
}

.textfield {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 0px;
}

.textfield input, textarea{
    width: 300px;
    border: none;
    border-radius: 5px;
    padding: 15px;
    font-size: 12pt;
    box-shadow: 0 10px 40px #00000056;
    box-sizing: border-box;
}

.btn-login {
    width: 300px;
    height: 40px;
    background-color: #172A3A;
    border: none;
    color: #F5F5F5;
    cursor: pointer;
    font-size: 18px;
}

.container-btn  {
    padding-bottom: 40px;
}

.informations {
    text-align: center;
}

.informations a {
    text-decoration: none;
    color: #3C87C5;
}

.container-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:450px;
}