@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}


@media screen and (min-width: 1024px) {
    body,
    ul {
      margin: 0px;
      padding: 0px;
    }
    
    a {
      color: #172A3A;
      text-decoration: none;
    }
    
    .infos {
        display: flex;
        justify-content: space-around;
        width: 30vw;
    }

    .infos i {
        padding-right: 10px;
    }

    #header {
      box-sizing: border-box;
      height: 80px;
      padding: 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: #F5F5F5;
    }

    #hamburguer {
        padding-right: 8px;
    }
    
    #menu {
      display: flex;
      list-style: none;
      gap: 10rem;
      align-items: center;
    }
    
    #menu a {
      display: flex;
      padding: 0.5rem;
      font-size: 14px;
      align-items: center;
    }

    #menu i {
        font-size: 25px;
        color: #172A3A;
    }
   

    #menu a:hover {
        color: #3c87c5;
    }
    
    #btn-mobile {
      display: none;
    }
    
    .search-bar input {
        width: 452px;
        height: 37px;
    }
    
    .search-bar {
        display: flex;
        justify-content: center;
    }
    
    .search-container {
        position: relative;
    }
    
    .barra-pesquisa {
        width: 452px;
        height: 37px;
    }
    
    .fa-magnifying-glass {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        font-size: 20px; 
        color: #172A3A;
    }
    
    .hints {
        position: absolute;
        height: auto;
        width: 100%;
    }
    
    .hint {
        border: 1px solid #172A3A;
        width: 100%;
        height: 25px;
        background-color: #F5F5F5;
    }
    .nav-secondary {
      background-color: #172A3A;
      height: 45px;
    }
    
    .categorias {
      display: flex;
      align-items: center;
      height: 45px;
      justify-content: center;
    }
    
    .nav-secondary ul {
      list-style-type: none;
    }

    .categorias a:hover {
        color: #3c87c5;
    }
    
    .categorias a {
      margin-right: 120px;
      text-decoration: none;
      color: #F5F5F5;
      display: flex;
      align-items: center;
    }
    
    .card-categorias:hover .sub-menu {
      display: block;
      position: absolute;
      background-color: #172A3A;
      margin-top: 20px;
      margin-left: -15px;
      z-index: 14; 
    }
    
    .card-categorias:hover .sub-menu ul {
      display: block;
      margin: 10px;
    }
    
    .sub-menu {
      display: none;
    }
    
    .card-categorias i {
      color: #F5F5F5
    }
    
    .card-categorias i:hover {
      color: #3c87c5;
    }
    
    .categorias li:first-child {
      display: flex;
    }
    
    .categorias-mobile {
      display: none;
    }
  
    .logout button {
        border: none; 
        background: none;
        cursor: pointer;
        margin-left: 15px;
    }

    .logout li{
        display: flex;
        align-items: center;
    }

    .logout {
        display: flex;
        align-items: center;
    }
    
    .slider {
        margin: 0 auto; 
        width: 100%;
        height: 450px;
        overflow: hidden;
    }

    .slides {
        width: 400%;
        height: 450px;
        display: flex;
    }
    .slides input {
        display: none;
    }

    .slide {
        width: 25%;
        position: relative;
    }

    .slide img {
        width: 100%;
    }

    .manual-navigation {
        position: absolute;
        width: 100%;
        margin-top: -40px;
        display: flex;
        justify-content: center;
    }

    .manual-btn {
        border: 2px solid #FFF; 
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        transition: 0.5s;
    }

    .manual-btn:not(:last-child) {
        margin-right: 40px;
    }

    .manual-btn:hover {
        background-color: #FFF;
    }

    #radio1:checked ~ .first{
        margin-left: 0;
    }

    #radio2:checked ~ .first{
        margin-left: -25%;
    }

    #radio3:checked ~ .first{
        margin-left: -50%;
    }

    .navigation-auto div {
        border: 2px solid #FFF;
        padding: 5px; 
        border-radius: 10px;
        cursor: pointer; 
        transition: 1s;
    }

    .navigation-auto {
        position: absolute;
        width: 100%;
        margin-top: 410px;
        display: flex;
        justify-content: center;
    }

    .navigation-auto div:not(:last-child) {
        margin-right: 40px;
    }

    #radio1:checked ~ .navigation-auto .auto-btn1 {
        background-color: #FFF;
    }

    #radio2:checked ~ .navigation-auto .auto-btn2 {
        background-color: #FFF;
    }

    #radio3:checked ~ .navigation-auto .auto-btn3 {
        background-color: #FFF;
    }
    
    .nav-secondary {
        background-color: #172A3A;
        height: 45px;
    }
    
    .categorias {
        display: flex;
        align-items: center;
        height: 45px;
        justify-content: center;
    }
    
    .nav-secondary ul {
        list-style-type: none;
    }
    
    .categorias a {
        margin-right: 120px;
        text-decoration: none;
        color: #F5F5F5;
        display: flex;
        align-items: center;
    }
    
    .card-categorias:hover .sub-menu {
        display: block;
        position: absolute;
        background-color: #172A3A;
        margin-top: 20px;
        margin-left: -15px;
        z-index: 14; 
    }

    .card-categorias:hover .sub-menu ul {
        display: block;
        margin: 10px;
    }

    .sub-menu {
        display: none;
    }

    .card-categorias i {
        color: #F5F5F5
    }

    .card-categorias i:hover {
        color: #3c87c5;
    }
    
    .categorias li:first-child {
        display: flex;
    }

    .title-wrapper {
        display: flex;
        justify-content: center;
        margin-top: 100px;
    }
    
    .wrapper {
        display: flex;
        justify-content: center;
        padding: 30px;
        flex-wrap: wrap;
        gap: 50px;
        height: 400px;
    }

    .wrapper a {
        text-decoration: none;
    }
    
    .item-img img  {
        width: 100%;
        height: 100%;
    }

    .item-img {
        height: 230px;
        width: 230px;
        display: flex;
        justify-content: center;
    }


    .item {
        height: 100%;
        width: 230px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .item p {
        display: flex;
        justify-self: center;
        color: #172A3A;
    }

    .item:hover {
        transform: scale(1.05);
    }

    .valor p {
        font-weight: 700;
        font-size: 20px;
        color: #172A3A;
        margin-top: 10px;
        justify-content: center;
    }

    .card-buy {
        text-align: center;
        margin-top: 10px;
    }

    .card-buy button {
        font-weight: 700;
        width: 100px;
        height: 30px;
        background-color: #172A3A;
        cursor: pointer;
        color: #F5F5F5;
        border: none;
    }

    .card-buy button:hover{
        background-color: #3c87c5;
        color:#172A3A;
    }

    .hamburguer-none {
        display: none;
        cursor: pointer;
    }

    footer {
        background-color: #172A3A;
        color:#F5F5F5; 
        display: flex;
        justify-content: space-around;
        width: 100%;
        height: 150px;
        align-items: center;
        margin-top: 100px;
    }

    .logo-footer {
        width: 250px;
        height: 90px;
    }

    .logo-footer img {
        width: 100%;
        height: 100%;
    }

    .logo-footer p {
        display: flex;
        justify-content: center;
    }

    .instagram-footer {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .instagram-footer i {
        font-size: 20px;
    }

   .endereco-footer, .social-footer {
        height: 70%;
        display: flex; 
        flex-direction: column;
        justify-content: space-evenly;
    }

    .endereco-footer { 
        border-left: 1px solid #F5F5F5;
        border-right: 1px solid #F5F5F5;
        padding-left: 200px;
        padding-right: 200px;
    }


}

@media screen and (max-width: 1023px) {
    body,
    ul {
      margin: 0px;
      padding: 0px;
    }
    
    a {
        color: #172A3A;
        text-decoration: none;
    }
       
    #header {
      box-sizing: border-box;
      height: 70px;
      padding: 1rem;
      display: flex;
      align-items: center;
      justify-content: space-around;
      background: #F5F5F5;
      width: 100vw;
    }
    
    #menu {
      display: flex;
      list-style: none;
      gap: 10rem;
      align-items: center;
    }
    
    #menu a {
      display: block;
      padding: 0.5rem;
    }
    
    #btn-mobile {
      display: none;
    }
    
    .search-bar input {
        width: 452px;
        height: 37px;
    }
    
    .search-bar {
        display: flex;
        justify-content: center;
    }
    
    .search-container {
        position: relative;
    }
    
    .barra-pesquisa {
        width: 452px;
        height: 37px;
    }
    
    .fa-magnifying-glass {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        font-size: 20px; 
        color: #172A3A;
    }
    
    .hints {
        position: absolute;
        height: auto;
        width: 100%;
    }
    
    .hint {
        border: 1px solid #172A3A;
        width: 100%;
        height: 25px;
        background-color: #F5F5F5;
    }
    .nav-secondary {
      background-color: #172A3A;
      height: 45px;
    }
    
    .categorias {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .nav-secondary ul {
      list-style-type: none;
    }
    
    .categorias a {
      margin-right: 120px;
      text-decoration: none;
      color: #F5F5F5;
      display: flex;
      align-items: center;
    }
    .sub-menu {
      display: block;
    }
  
    .nav-secondary {
      display: none;
    }

    #menu {
      display:block;
      position: absolute;
      width: 100%;
      top: 70px;
      right: 0px;
      background: #e7e7e7;
      transition: 0.6s;
      z-index: 1000;
      height: 0px;
      visibility: hidden;
      overflow-y: hidden;
    }
    #nav.active #menu {
      height: calc(100vh - 70px);
      visibility: visible;
      overflow-y: auto;
    }
    #menu a {
      display: flex;
      padding: 1rem 0;
      border-bottom: 2px solid rgba(0, 0, 0, 0.05);
      justify-content: center;
    }
    #menu a:hover {
        transform: scale(1.05);
    }
    #btn-mobile {
      display: flex;
      padding: 0.5rem 1rem;
      font-size: 1rem;
      border: none;
      background: none;
      cursor: pointer;
      gap: 0.5rem;
    }
    #hamburger {
      border-top: 2px solid;
      width: 20px;
    }
    #hamburger::after,
    #hamburger::before {
      content: '';
      display: block;
      width: 20px;
      height: 2px;
      background: currentColor;
      margin-top: 5px;
      transition: 0.3s;
      position: relative;
    }
    #nav.active #hamburger {
      border-top-color: transparent;
    }
    #nav.active #hamburger::before {
      transform: rotate(135deg);
    }
    #nav.active #hamburger::after {
      transform: rotate(-135deg);
      top: -7px;
    }
    .infos {
      display: flex;
      flex-direction: column; 
      justify-content: space-between;
    }
    .infos a {
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 15px;
    }
    .slider {
        margin: 0 auto; 
        width: 100%;
        height: 280px;
        overflow: hidden;
    }

    .slides {
        width: 400%;
        height: 280px;
        display: flex;
    }
    .slides input {
        display: none;
    }

    .slide {
        width: 25%;
        position: relative;
    }

    .slide img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .manual-navigation {
        position: absolute;
        width: 100%;
        margin-top: -40px;
        display: flex;
        justify-content: center;
    }

    #radio1:checked ~ .first{
        margin-left: 0;
    }

    #radio2:checked ~ .first{
        margin-left: -25%;
    }

    #radio3:checked ~ .first{
        margin-left: -50%;
    }

    .navigation-auto div {
        display: none;
    }

    .navigation-auto {
        position: absolute;
        width: 100%;
        margin-top: 410px;
        display: flex;
        justify-content: center;
    }

    .navigation-auto div:not(:last-child) {
        margin-right: 40px;
    }

    #radio1:checked ~ .navigation-auto .auto-btn1 {
        background-color: #FFF;
    }

    #radio2:checked ~ .navigation-auto .auto-btn2 {
        background-color: #FFF;
    }

    #radio3:checked ~ .navigation-auto .auto-btn3 {
        background-color: #FFF;
    }
    
    .title-wrapper {
        display: flex;
        justify-content: center;
        font-size: 15px;
        margin-top: 20px;
    }

    .wrapper {
        display: flex;
        justify-content: center;
        padding: 30px;
        flex-wrap: wrap;
        gap: 50px;
    }

    .wrapper a {
        text-decoration: none;
    }

    .item-img img  {
        width: 100%;
        height: 100%;
    }

    .item-img {
        height: 230px;
        width: 230px;
        display: flex;
        justify-content: center;
    }

    .item {
        height: 100%;
        width: 230px;
        display: flex;
        flex-direction: column;
    }

    .item:hover {
        transform: scale(1.05);
    }

    .item p {
        display: flex;
        justify-self: center;
        color: #172A3A;
    }

    .card-buy {
        text-align: center;
        margin-top: 10px;
    }

    .card-buy button {
        font-weight: 700;
        width: 100px;
        height: 30px;
        background-color: #172A3A;
        cursor: pointer;
        color: #F5F5F5;
        border: none;
    }

    .fileira-desc {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 300px;
        text-align: center;
    } 

    .valor p {
        font-weight: 700;
        font-size: 20px;
        color: #172A3A;
        margin-top: 10px;
        justify-content: center;
    }

    footer {
        background-color: #172A3A;
        color:#F5F5F5; 
        display: flex;
        justify-content: space-around;
        width: 100%;
        height: 100px;
        align-items: center;
        /* margin-top: 100px; */
    }

    footer p {
        font-size: 15px;
    }

    .instagram-footer {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .instagram-footer i {
        font-size: 20px;
    }

   .endereco-footer {
        display: none;
    }

    .endereco-footer { 
        border-left: 1px solid #F5F5F5;
        border-right: 1px solid #F5F5F5;
    }

    .logout li {
        display: flex;
    }
    .logout button {
        border: none; 
        background: none;
        cursor: pointer;
    }
}
